<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>soda</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.1</real>
		<key>YScale</key>
		<real>0.1</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>sauce</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.1</real>
		<key>YScale</key>
		<real>0.1</real>
		<key>Restitution</key>
		<real>0.032</real>
		<key>MinFlips</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>mayonnaise</string>
		<key>Mass</key>
		<real>0.5</real>
		<key>XScale</key>
		<real>0.1</real>
		<key>YScale</key>
		<real>0.1</real>
		<key>Restitution</key>
		<real>0.09</real>
		<key>MinFlips</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>ice_cream</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.1</real>
		<key>YScale</key>
		<real>0.1</real>
		<key>Restitution</key>
		<real>0.12</real>
		<key>MinFlips</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>birthday_cake</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.1</real>
		<key>YScale</key>
		<real>0.1</real>
		<key>Restitution</key>
		<real>0.07000000000000001</real>
		<key>MinFlips</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
